<%- include('header') -%>

<div class="blank"></div>
<section class="container">
  <div class="section-home d-flex justify-content-center">
    <div>
      <div class="text-step font-weight-bold">Chercher</div>
      <div class="d-flex align-items-center">
        <div
          class="rounded-circle bg-danger d-flex justify-content-center align-items-center part-parent"
        >
          <div class="rounded-circle bg-danger part-child"></div>
        </div>
        <div class="bg-danger step"></div>
      </div>
    </div>

    <div>
      <div class="text-step font-weight-bold">Choisir</div>
      <div class="d-flex align-items-center">
        <div
          class="rounded-circle bg-danger d-flex justify-content-center align-items-center part-parent"
        >
          <div class="rounded-circle bg-light part-child"></div>
        </div>
        <div class="bg-secondary step"></div>
      </div>
    </div>
    <div>
      <div class="text-step font-weight-bold">Réserver</div>
      <div class="d-flex align-items-center">
        <div
          class="rounded-circle bg-secondary d-flex justify-content-center align-items-center part-parent"
        >
          <div class="rounded-circle bg-light part-child"></div>
        </div>
        <div class="bg-secondary step"></div>
      </div>
    </div>
    <div>
      <div class="text-step font-weight-bold">Payer</div>
      <div class="d-flex align-items-center">
        <div
          class="rounded-circle bg-secondary d-flex justify-content-center align-items-center part-parent"
        >
          <div class="rounded-circle bg-light part-child"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="blank"></div>
<main class="container">

<% for(var i = 0; i< data.length; i++) { %>
    <div class="vol d-flex mb-2">
        <div class="vol-logo" style="background-image: url(/images/<%= data[i].img %>);background-size: contain;background-repeat: no-repeat;"></div>
        <div class="vol-info d-flex flex-column border border-secondary">
          <span
            class="px-4 py-1 bg-light rounded h-25 m-2 w-50 text-center font-weight-bold d-flex justify-content-center align-items-center"
          >
            <%= data[i].company %>
          </span>
          <div class="d-flex h-50">
            <div
              class="vol-depart d-flex flex-column justify-content-center align-items-center w-25"
            >
              <p class="text-primary font-weight-bold vol-time"><%= data[i].dipartTime %></p>
              <p class="font-weight-bold text-secondary"><%= target[0].frome %></p>
            </div>
            <div class="vol-destination bg-secondary w-50"></div>
            <div
              class="vol-arrive d-flex flex-column justify-content-center align-items-center w-25"
            >
              <p class="text-primary font-weight-bold vol-time"><%= data[i].arriveTime %></p>
              <p class="font-weight-bold text-secondary"><%= target[0].to %></p>
            </div>
          </div>
        </div>
        <div class="vol-price border border-secondary d-flex flex-column">
          <form class="h-100 w-100">
            <span
              class="vol-price-mad font-weight-bold h-75 text-primary d-flex justify-content-center text-center"
            >
            <%= data[i].prix %> <br />
              DH
            </span>
            <!-- <input type="hidden" value="<%= data[i].id %>" name="vol_place">
            <input type="submit" class="btn btn-danger h-25 rounded-0 w-100 border-0" value="Selectionner"> -->
          </form>
        </div>
      </div>
<% } %>

<div class="blank"></div>
<form method="POST">
<div class="choice-place">
  <div class="place-options p-4">
    <div class="d-flex mb-3">
      <span
        class="font-weight-bold d-flex justify-content-center text-center align-items-center"
        >Siège libre</span
      >
      <div class="bg-success ml-4 place-dispo rounded"></div>
    </div>
    <div class="d-flex">
      <span
        class="font-weight-bold d-flex justify-content-center text-center align-items-center"
        >Siège reservé</span
      >
      <div class="bg-danger ml-4 place-non-dispo rounded"></div>
    </div>
  </div>
  <div style="height: 500px" class="w-100 d-flex choice-my-place">
    <div class="wing w-25 h-100" style="background-image: url(/images/wing1.jpg)"></div>
    <div class="w-50 h-100 bg-light d-flex">
      <div
        class="w-100 h-100 bg-light border" 
      >
        <div class="form-check w-100 d-flex justify-content-around mt-2 flex-wrap" id="allPlace">
            <% for(var i = 0; i < vol_place.length; i++) { %>
            <div class="myplace mb-4">
                <input
                  class="form-check-input styledRadio"
                  type="radio"
                  name="all_vol_place"
                  id="exampleRadios<%= vol_place[i].place_id %>"
                  value="<%= vol_place[i].place_id %>"
                  <% if(vol_place[i].valable == 0) { %> disabled <% } %>
                />
                <label class="form-check-label bg-success rounded" for="exampleRadios<%= vol_place[i].place_id %>" <% if(vol_place[i].valable == 0) { %> style=" background-color: #dc3545 !important; cursor: not-allowed;" <% } %>></label>
            </div>
            <% } %>
        </div>
      </div>
  </div>
  <div class="wing w-25 h-100" style="background-image: url(/images/wing2.jpg)"></div>
</div>
  <div class="blank"></div>
      <input type="submit" class="btn btn-primary btn-lg btn-block w-75 m-auto" value="Réserver">
</div>
</form>
</main>

<%- include('footer') -%>